body {
    font-family: 'Juna', sans-serif;
    color: #f7f7f7;
}

h2 {
    font-family: 'Black Ops One', cursive;
    font-size: 3em;
    font-weight: bolder;
    color: #ffffff;
}

.screen {
    display: none;
    text-align: center;
    width: 1280px;
    height: 600px;
    background-image: url(../images/bg/cityscape_1.png);
    background-size: 100% 100%;
}
.hist {
    display: none;
    padding: 30px;
    text-align: center;
    width: 1220px;
    height: 540px;
    background-color: black;
    background-size: 100% 100%;
} .hist h3 {
    color: white;
    display: block;
    margin-top: 150px;
    overflow: hidden;
} .hist button {
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 20px;
} .hist button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 20px;
}

.screen p {
    margin: 0px;
    height: 350px;
    display: inline-block;
    color: #000;
} .logo {
    color: #fff;
}

.presentation {
    height: 600px;
    line-height: 600px;
    vertical-align: middle;
    font-size: 1.5em;
}

.data {
    display: inline-block;
    width: 600px;
    text-align: center;
    vertical-align: top;
} .data p {
    margin-top: 10px;
    height: auto;
    font-size: 1.5em;
    color: #ffffff;
}

screen p span {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

h1.notice {
    margin-top: 150px;
    margin-bottom: 100px;
} p.notice {
    color: #000;
    margin-bottom: 80px;
}


.btn {
    font-family: 'Jura', sans-serif;
    font-size: 1.5em;
    padding: 1em 3em;
    background-color: #404562;
    color: #f7f7f7;
    border: none;
} .btn:hover {
    background-color: #f7f7f7;
    color: #222;
    cursor: pointer;
}

.botonimagen1 {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background-image: url(../images/MALE-HEAD.png);
    background: -repeat: no-repeat;
    height: 255px;
    width: 255px;
    background-position: center;
} .botonimagen1:hover{
    background-image: url(../images/MALE-HEAD2.jpg);
    color: #222;
    cursor: pointer;
}

.botonimagen2 {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background-image: url(../images/FEMALE-HEAD.png);
    background: -repeat: no-repeat;
    height: 255px;
    width: 255px;
    background-position: center;
} .botonimagen2:hover {
    background-image: url(../images/FEMALE-HEAD2.jpg);
    color: #222;
    cursor: pointer;
}
